<form *ngIf="showAddTask" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="task">Task: </label>
    <input id="task" type="text" formControlName="task" />
  </div>
  <div class="form-control form-control-check">
    <label for="reminder">Set Reminder</label>
    <input id="reminder" type="checkbox" formControlName="reminder" />
  </div>
  <p>Complete the form to enable button.</p>
  <button class="btn" type="submit" [disabled]="!form.valid">Submit</button>
</form>
